<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define sourceFolder="C:\Users\woody\source\repos\EmployeeManagement\EmployeeManagementWPF\bin\Release"?>
	<Product Id="*" Name="Employee manager" Language="1033" Version="1.0.0.0" Manufacturer="SebastianRachfal" UpgradeCode="afe8a0e0-10e7-43da-af44-7c3282c3f10b">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

		<UI>
			<UIRef Id="WixUI_Minimal" />
		</UI>
		<Icon Id="employee" SourceFile="C:\Users\woody\source\repos\EmployeeManagement\EmployeeManagementWPF\Icons\employee.ico"/>
		<Property Id="ARPPRODUCTICON" Value="employee"/>
		<Feature Id="ProductFeature" Title="EMInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentRef Id="ApplicationShortcut" />
		</Feature>
		<Property Id="WixShellExecTarget" Value="[#employeemanagementwpf.exe]" />
		<CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="EMInstaller" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Employee Manager"/>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="53459c62-506e-4b23-b7aa-e42efcba3d76">
				<Shortcut Id="ApplicationStartMenuShortcut"
                     Name="Employee Manager"
                   Description="Simple app for managing employees"
                    Target="[#EmployeeManagementWPF.exe]"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\SebastianRachfal\Employee manager" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="ProductComponent" Guid="317c0290-2676-4c73-9389-f8342305142d" Feature="ProductFeature">
				<File Source="$(var.sourceFolder)\EmployeeManagementWPF.exe" />
				<File Source="$(var.sourceFolder)\EmployeeManagementCL.dll" />
				<File Source="$(var.sourceFolder)\EntityFramework.dll" />
				<File Source="$(var.sourceFolder)\EntityFramework.SqlServer.dll" />
				<File Source="$(var.sourceFolder)\EntityFramework.SqlServer.xml" />
				<File Source="$(var.sourceFolder)\EntityFramework.xml" />

			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
